In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import os
import json
from iexfinance.stocks import get_historical_data
import iexfinance as iex

%matplotlib inline

In [2]:
API_Tokens = os.getenv("IEX_TOKEN")
API_Tokens_Secret = os.getenv("IEX_TOKEN_SECRET")
print(len(API_Tokens))
print(len(API_Tokens_Secret))

35
35

In [4]:
list_of_tickers = ["MSFT","GOOGL","JPM","ODFL","ALB","GILD","JNJ","CAT","V","NEE"]
# Set Dates
#end_date = datetime.now()
#start_date = end_date + timedelta(-365)
#Pull Data From IEX Finance
#stock_df = get_historical_data(list_of_tickers, start_date, end_date, close_only=True, output_format='pandas')
#stock_df.drop(columns='volume', level=1,inplace=True)
#stock_df.head()

,MSFT,GOOGL,JPM,ODFL,ALB,GILD,JNJ,CAT,V,NEE
,close,close,close,close,close,close,close,close,close,close
date,,,,,,,,,,
2019-04-08,119.93,1208.28,105.65,101.79,86.94,67.38,136.14,139.82,157.75,188.64
2019-04-09,119.28,1202.69,104.87,100.43,84.78,66.09,135.57,136.35,157.49,189.71
2019-04-10,120.19,1206.45,105.34,100.21,85.55,67.40,135.58,137.53,158.56,188.62
2019-04-11,120.33,1209.59,106.23,102.19,82.71,66.31,135.21,138.87,157.86,190.04
2019-04-12,120.95,1222.73,111.21,102.49,83.66,65.28,135.98,141.20,159.64,190.85

In [5]:
#Saving the Data Pull To A CSV
stock_df.to_csv('stock_data.csv')

In [14]:
#Reading in and cleaning the CSV File 
stock_data = pd.read_csv('stock_data.csv')
stock_data.rename(columns = {"Unnamed: 0":"Date"},inplace = True)
stock_data.dropna(inplace=True)
stock_data.set_index("Date",inplace=True)
stock_data.head()

,MSFT,GOOGL,JPM,ODFL,ALB,GILD,JNJ,CAT,V,NEE
Date,,,,,,,,,,
2019-04-08,119.93,1208.28,105.65,101.79,86.94,67.38,136.14,139.82,157.75,188.64
2019-04-09,119.28,1202.69,104.87,100.43,84.78,66.09,135.57,136.35,157.49,189.71
2019-04-10,120.19,1206.45,105.34,100.21,85.55,67.4,135.58,137.53,158.56,188.62
2019-04-11,120.33,1209.59,106.23,102.19,82.71,66.31,135.21,138.87,157.86,190.04
2019-04-12,120.95,1222.73,111.21,102.49,83.66,65.28,135.98,141.2,159.64,190.85

In [12]:
stock_data.dtypes

MSFT     object
GOOGL    object
JPM      object
ODFL     object
ALB      object
GILD     object
JNJ      object
CAT      object
V        object
NEE      object
dtype: object

In [15]:
#Getting daily returns
stk_daily_return = stock_data.astype(float).pct_change()
stk_daily_return.dropna(inplace=True)
stk_daily_return

,MSFT,GOOGL,JPM,ODFL,ALB,GILD,JNJ,CAT,V,NEE
Date,,,,,,,,,,
2019-04-09,-0.005420,-0.004626,-0.007383,-0.013361,-0.024845,-0.019145,-0.004187,-0.024818,-0.001648,0.005672
2019-04-10,0.007629,0.003126,0.004482,-0.002191,0.009082,0.019821,0.000074,0.008654,0.006794,-0.005746
2019-04-11,0.001165,0.002603,0.008449,0.019759,-0.033197,-0.016172,-0.002729,0.009743,-0.004415,0.007528
2019-04-12,0.005152,0.010863,0.046879,0.002936,0.011486,-0.015533,0.005695,0.016778,0.011276,0.004262
2019-04-15,0.000827,0.003108,-0.011420,-0.008196,-0.016734,0.002298,0.003971,-0.006728,0.005011,0.001624
...,...,...,...,...,...,...,...,...,...,...
2020-03-30,0.070341,0.032470,0.026007,0.049404,0.010542,0.042279,0.079977,0.059465,0.024821,0.060617
2020-03-31,-0.015727,0.013644,-0.037112,-0.025321,0.013849,-0.015409,-0.014134,0.038761,-0.026877,-0.021910
2020-04-01,-0.035508,-0.051508,-0.062979,-0.068033,-0.027142,-0.030096,-0.017692,-0.040417,-0.049714,-0.093051
2020-04-02,0.020709,0.013547,0.037340,0.015368,-0.021517,0.061647,0.033693,0.048406,0.027954,0.037667
2020-04-03,-0.009210,-0.021781,-0.039538,-0.013686,-0.017890,0.015978,0.007661,-0.017732,-0.035199,-0.021241